* {
    box-sizing: border-box;
}

/* ================================= 
  Base Elements
==================================== */
body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
}

footer {
    display: block;
    text-align: center;
    font-size: 12px;
    /*font-family: 'Titillium Web';*/
}

p {
    padding: 15px;
    font-size: 16px;
    font-family: sans-serif;

}


/* ================================= 
  Smoke Video
==================================== */
/*video {
    object-fit: cover;
}*/



/* ================================= 
  Class Styles
==================================== */

.about {
    display: flex;
    align-items: center;
    justify-content: center;

}

.about p {
    font-family: 'poppins';
    font-size: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    background: black;
    height: 100%;
}

.container div {
    padding: 10px 15px;
    width: 400px;
    height: 300px;
    margin: 5px 5px;
}

.container img {
    width: 100%;
    height: 100%;
    border: 2px solid whitesmoke;
}

.form {
    display: flex;
}

.myform {
    display: flex;
    height: 12rem;
    width: 20rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
}

.myform button {
    padding: 5px 5px;
    background: transparent;
    border: 1px solid rgb(219, 71, 7);
    text-decoration: none;
    display: inline;
    margin: 0 2em;
    font-size: 15px;
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .12em;
    text-shadow: 2px 2px 1px rgb(228, 83, 22),
            4px 4px 3px darkblue,
            2px 2px 2px black;
}

.myform label {
    font-weight: bold;
    background-color: blue;
    flex-basis: 2rem;
    display: none;
}

.myform input {
    height: 2em;
    font-size: 14px;
    border-radius: 5px;
    /* background: transparent; */
    /* border-color: rgb(228,83,22); */
}

.myform ::placeholder {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}


.nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-menu .logo {
    color: darkblue;
    margin: .5rem;
    font-size: 2rem;
    letter-spacing: 3px;
    text-shadow: 2px 2px 1px rgb(235, 113, 6),
            5px 5px 5px rgb(250, 229, 65),
            2px 2px 2px black;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    display: block;

}

.nav-menu li {
    list-style: none;
    text-align: center;
    display: none;
}

.nav-menu li a {
    display: block;
    color: darkblue;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem 1rem;
}

.nav-menu li:hover {
    background: lightgrey;
}

.menu-links.active {
    display: flex;
}

.vidsmoke {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Titillium Web';
}

.vidsmoke .letter {
    color: rgb(245, 47, 47);
    font-size: 20px;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 1px rgb(235, 113, 6),
            5px 5px 5px rgb(250, 229, 65),
            2px 2px 2px black;
    margin-bottom: 2em;
}

.vidsmoke .button {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid rgb(219, 71, 7);
    text-decoration: none;
    display: inline;
    margin: 0 2em;
    font-size: 17px;
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .12em;
    text-shadow: 2px 2px 1px rgb(228, 83, 22),
            4px 4px 3px darkblue,
            2px 2px 2px black;
    display: none;
}

/* ================================= 
  Vidsmoke Animation
==================================== */

.vidsmoke .letter span {
    display: inline-block;
    animation: animate 1s linear forwards;
    opacity: 0;
}

.vidsmoke .letter span:nth-child(1) {
    animation-delay: 1s;
}
.vidsmoke .letter span:nth-child(2) {
    animation-delay: 1.25s;
}
.vidsmoke .letter span:nth-child(3) {
    animation-delay: 1.5s;
}
.vidsmoke .letter span:nth-child(4) {
    animation-delay: 1.75s;
}
.vidsmoke .letter span:nth-child(5) {
    animation-delay: 2s;
}
.vidsmoke .letter span:nth-child(6) {
    animation-delay: 2.25s;
}
.vidsmoke .letter span:nth-child(7) {
    animation-delay: 2.75s;
}
.vidsmoke .letter span:nth-child(8) {
    animation-delay: 3s;
}
.vidsmoke .letter span:nth-child(9) {
    animation-delay: 3.25s;
}
.vidsmoke .letter span:nth-child(10) {
    animation-delay: 3.5s;
} 

.vidsmoke .letter span:nth-child(11) {
    animation-delay: 4s;
}
.vidsmoke .letter span:nth-child(12) {
    animation-delay: 4.25s;
}
.vidsmoke .letter span:nth-child(13) {
    animation-delay: 4.5s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur();
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}


/* ================================= 
  Hamburger Menu
==================================== */

.hamburger {
    position: absolute;
    top: .75rem;
    right: 1rem;
    cursor: pointer;
    display: block;
}

.hamburger .bars {
    background: darkblue;
    display: inline-block;
    height: 4px;
    position: relative;
    width: 30px;
    border-radius: 15px;
}

.hamburger .bars::before,.hamburger .bars::after {
    background: darkblue;
    display: inline-block;
    height: 4px;
    position: absolute;
    width: 30px;
    content: "";
}
.hamburger .bars::before {
    top: 8px;
}
.hamburger .bars::after {
    top: -8px;
}


/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 768px) { /*change to full menu*/

    .nav-menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;

    }

    .nav-menu .logo {
        font-size: 2.5rem;
    }

    .nav-menu li {
        display: block;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: row;
    }

    .hamburger {
         display: none;
    }

    .vidsmoke .letter {
     font-size: 40px;
    }
 }


@media screen and (min-width: 1024px) {

    .nav-menu .logo {
        font-size: 3rem;
    }
/* 
    .nav-menu li {
        display: block;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: row;
    }

    .hamburger {
         display: none;
    } */

    .vidsmoke .letter {
     font-size: 60px;
    }
 }