* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================================= 
  Base Elements
==================================== */

footer {
    display: block;
    text-align: center;
    font-size: 12px;
    font-family: 'Titillium Web';
}

header {
    padding: 15px;
}

p {
    padding: 15px;
    font-size: 14px;

}


/* ================================= 
  Smoke Video
==================================== */
/*video {
    object-fit: cover;
}*/



/* ================================= 
  Class Styles
==================================== */

.container img {
    width: 90%;
    height: 250px;
    margin: 5px;
    padding: 5px;
    border: 2px solid whitesmoke;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background: black;
    height: 100%;
}

.container div {
    max-width: 270px;
    margin: 5px auto;
}

.myform {
    display: flex;
    height: 12rem;
    width: 20rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: turquoise;
    display: none;
}

.myform button {
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: space-around;
}


.myform label {
    font-weight: bold;
    background-color: green;
    flex-basis: 2rem;
    display: block;
    display: none;
}

.myform input {
    height: 2em;
    font-size: 14px;
    background-color: whitesmoke;
}


.logo {
    color: darkblue;
    letter-spacing: 5px;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
}

.menu {
    font-family: 'Titillium Web';
}

.menu li ul {
    list-style: none;
}

.menu li a {
    display: block;
    color: darkblue;
    letter-spacing: 3px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.vidsmoke {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Titillium Web';
}

.vidsmoke .letter {
    color: rgb(245, 47, 47);
    font-size: 20px;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 1px rgb(235, 113, 6),
            5px 5px 5px rgb(250, 229, 65),
            2px 2px 2px black;
    margin-bottom: 2em;
}

.vidsmoke .button {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid rgb(219, 71, 7);
    text-decoration: none;
    display: inline;
    margin: 0 2em;
    font-size: 17px;
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .12em;
    text-shadow: 2px 2px 1px rgb(228, 83, 22),
            4px 4px 3px darkblue,
            2px 2px 2px black;
}

/* ================================= 
  Vidsmoke Animation
==================================== */

.vidsmoke .letter span {
    display: inline-block;
    animation: animate 1s linear forwards;
    opacity: 0;
}

.vidsmoke .letter span:nth-child(1) {
    animation-delay: 1s;
}
.vidsmoke .letter span:nth-child(2) {
    animation-delay: 1.25s;
}
.vidsmoke .letter span:nth-child(3) {
    animation-delay: 1.5s;
}
.vidsmoke .letter span:nth-child(4) {
    animation-delay: 1.75s;
}
.vidsmoke .letter span:nth-child(5) {
    animation-delay: 2s;
}
.vidsmoke .letter span:nth-child(6) {
    animation-delay: 2.25s;
}
.vidsmoke .letter span:nth-child(7) {
    animation-delay: 2.75s;
}
.vidsmoke .letter span:nth-child(8) {
    animation-delay: 3s;
}
.vidsmoke .letter span:nth-child(9) {
    animation-delay: 3.25s;
}
.vidsmoke .letter span:nth-child(10) {
    animation-delay: 3.5s;
} 

.vidsmoke .letter span:nth-child(11) {
    animation-delay: 4s;
}
.vidsmoke .letter span:nth-child(12) {
    animation-delay: 4.25s;
}
.vidsmoke .letter span:nth-child(13) {
    animation-delay: 4.5s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur();
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}


/* ================================= 
  Hamburger Menu
==================================== */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    order: 1;
    cursor: pointer;
    display: block;
}


.item {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
}

.item.active {
    display: block;
}

.bars {
    background: darkblue;
    display: inline-block;
    height: 3px;
    position: relative;
    width: 18px;
}

.bars::before,.bars::after {
    background: darkblue;
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
    content: "";
}
.bars::before {
    top: 5px;
}
.bars::after {
    top: -5px;
}


/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 768px) { /*change to burger menu*/
    .logo {
        font-size: 20px;
    }
    
    .burger {
         display: none;
    }

    .item {
        display: block;
        width: auto;
    }
 
    .vidsmoke h1 {
     font-size: 40px;
    }
 }


@media screen and (min-width: 1024px) {
    .nav li {
        width: 30px;
    }

    .vidsmoke h1 {
        font-size: 60px;
    }
}

